*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Times New Roman';
}
body
{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items:center;
    background:url(b4.png);
    background-size: cover;
}
.container
{
    width:100%;
    max-width:650px;
    background:gray;
    border:2px solid black;
    padding:28px;
    margin: 0 28px;
    border-radius:10px;
    box-shadow:insert -2px 2px 2px white;
}
.form-title
{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color:white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 3px black;
}
.user-info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.user-input-box:nth-child(2n)
{
    justify-content: end;
}
.user-input-box
{
    display:flex;
    flex-wrap:wrap;
    width:50%;
    padding-bottom: 15px;
}
.user-input-box label{
    width: 95%;
    color:white;
    font-size:20px;
    font-weight: 400;
    margin:5px 0;
}
.user-input-box select{
    height: 40px;
    width:95%;
    border-radius: 7px;
    outline:none;
    border:1px solid grey;
    padding:0 10px;
}               
.submit-btn 
{
    margin-top: 40px;
}
.submit-btn input{
    display: block;
    width:100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color:white;
    background:#0041C2;
    cursor: pointer;
}
.submit-btn input:hover
{
    background:rgb(72, 156, 156);
    color: darkblue;
}